[Unit]
Description=Fan manager
After=multi-user.target

[Service]
ExecStart=bash /root/dietpi_fan/deamon/run.sh
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target